In [1]:
from sklearn.linear_model import ElasticNet, ElasticNetCV
from TimewiseKfold import splitting_data, split_train_test, FOLD_NUM, MAXIMUM_YEAR
from Metrics import metrics_calculation, metrics_table
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import root_mean_squared_error

In [2]:
folds, PROVINCES_NUM = splitting_data(region=2)

In [3]:
table = metrics_table()

tscv = TimeSeriesSplit(n_splits=2, test_size=PROVINCES_NUM)

OwO = []

for (i, fold) in enumerate(folds):
    X_train, X_test, y_train, y_test = split_train_test(fold=fold)
    
    elastic_cv = ElasticNetCV(l1_ratio=[0.1, 0.2, 0.3, 0.5, 0.75, 0.9, 0.99, 1], cv=tscv, max_iter=20000, n_jobs=-1)
    elastic_cv.fit(X_train, y_train)
    
    row = [MAXIMUM_YEAR - FOLD_NUM + 1 + i]
    
    row += metrics_calculation(y_actual=y_test, y_pred=elastic_cv.predict(X_test), y_train=y_train)
    
    table.loc[len(table)] = row
    
    del elastic_cv

c:\Application\Anaconda\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:1623: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Application\Anaconda\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:1623: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Application\Anaconda\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:1623: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [4]:
table

     Year      RMSE  R2_Score        MSE       MAE       RAE       RSE
0  2018.0  1.578912  0.155899   2.492965  1.289201  0.899274  0.918372
1  2019.0  1.251652  0.014877   1.566634  1.111284  1.075792  0.990331
2  2020.0  5.985223  0.002041  35.822889  3.589632  0.966427  1.398955