In [1]:
from sklearn.linear_model import LassoCV
from TimewiseKfold import splitting_data, split_train_test, FOLD_NUM, PROVINCES_NUM
from Metrics import metrics_calculation, metrics_table
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import root_mean_squared_error

In [2]:
folds = splitting_data()

In [3]:
table = metrics_table()
table

Empty DataFrame
Columns: [Year, RMSE, RRMSE (in %), R2_Score, MSE, MAE, RAE, RSE]
Index: []

In [4]:
tscv = TimeSeriesSplit(n_splits=2, test_size=PROVINCES_NUM)

for (i, fold) in enumerate(folds):
    X_train, X_test, y_train, y_test = split_train_test(fold=fold)
    
    lasso_cv = LassoCV(max_iter=5000, n_jobs=-1, cv=tscv)
    lasso_cv.fit(X_train, y_train)
    
    print(lasso_cv.alpha_)
    
    row = [2020 - FOLD_NUM + 1 + i]
    
    row += metrics_calculation(y_actual=y_test, y_pred=lasso_cv.predict(X_test), y_train=y_train)
    
    table.loc[len(table)] = row
    
    del lasso_cv

c:\Application\Anaconda\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:1623: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

9.285892659075822
26.584414687876187

c:\Application\Anaconda\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:1623: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Application\Anaconda\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:1623: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

27.606277719942387

In [5]:
table

,Year,RMSE,RRMSE (in %),R2_Score,MSE,MAE,RAE,RSE
0,2018.0,1.929672,209.375641,-0.134903,3.723634,1.356854,1.235018,1.496045
1,2019.0,1.660885,371.171107,0.010332,2.758540,0.905744,0.917340,1.028772
2,2020.0,3.253962,-755.652707,-0.035545,10.588266,1.923053,0.958108,1.098062