In [1]:
from sklearn.linear_model import LinearRegression
from TimewiseKfold import splitting_data, split_train_test, FOLD_NUM
from Metrics import metrics_calculation, metrics_table

In [2]:
scaled_folds = splitting_data(is_scaled=True)

In [3]:
table = metrics_table()
table

Empty DataFrame
Columns: [Year, RMSE, R2_Score, MSE, MAE, RAE, RSE]
Index: []

In [4]:
for (i, fold) in enumerate(scaled_folds):
    X_train, X_test, y_train, y_test = split_train_test(fold=fold)
    
    linear_model = LinearRegression(n_jobs=-1).fit(X=X_train, y=y_train)
    
    row = [2020 - FOLD_NUM + 1 + i]
    
    row += metrics_calculation(y_actual=y_test, y_pred=linear_model.predict(X_test), y_train=y_train)
    
    table.loc[len(table)] = row
    
    del linear_model

In [5]:
table

     Year      RMSE  R2_Score        MSE       MAE       RAE       RSE
0  2018.0  2.499996 -2.559025   6.249981  2.119956  2.128447  3.822178
1  2019.0  2.348219 -1.622803   5.514133  1.682190  1.532194  2.802898
2  2020.0  3.787677 -4.835267  14.346497  3.173942  2.908965  6.831917