In [1]:
from sklearn.linear_model import LinearRegression
from TimewiseKfold import splitting_data, split_train_test, FOLD_NUM
from Metrics import metrics_calculation, metrics_table

In [2]:
folds = splitting_data()

In [3]:
table = metrics_table()
table

Empty DataFrame
Columns: [Year, RMSE, RRMSE (in %), R2_Score, MSE, MAE, RAE, RSE]
Index: []

In [4]:
for (i, fold) in enumerate(folds):
    X_train, X_test, y_train, y_test = split_train_test(fold=fold)
    
    linear_model = LinearRegression(n_jobs=-1).fit(X=X_train, y=y_train)
    
    row = [2020 - FOLD_NUM + 1 + i]
    
    row += metrics_calculation(y_actual=y_test, y_pred=linear_model.predict(X_test), y_train=y_train)
    
    table.loc[len(table)] = row
    
    del linear_model

In [5]:
table

,Year,RMSE,RRMSE (in %),R2_Score,MSE,MAE,RAE,RSE
0,2018.0,6.047549,14.460444,-83.940077,36.572854,5.393682,10.407379,92.694825
1,2019.0,4.995055,13.510595,-22.378038,24.950570,4.183367,4.772762,23.723530
2,2020.0,29.322002,16.008677,-3398.355910,859.779774,28.340036,70.273141,4414.136981