In [1]:
from sklearn.linear_model import Ridge, RidgeCV
from TimewiseKfold import splitting_data, split_train_test, FOLD_NUM, PROVINCES_NUM
from Metrics import metrics_calculation, metrics_table
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import root_mean_squared_error

In [2]:
folds = splitting_data()

In [3]:
table = metrics_table()
table

Empty DataFrame
Columns: [Year, RMSE, RRMSE (in %), R2_Score, MSE, MAE, RAE, RSE]
Index: []

In [4]:
tscv = TimeSeriesSplit(n_splits=2, test_size=PROVINCES_NUM)

for (i, fold) in enumerate(folds):
    X_train, X_test, y_train, y_test = split_train_test(fold=fold)
    
    ridge_cv = RidgeCV(alphas=[0.1, 1, 2, 5, 9, 10, 20, 50, 100], cv=tscv)
    ridge_cv.fit(X_train, y_train)
    
    row = [2020 - FOLD_NUM + 1 + i]
    
    row += metrics_calculation(y_actual=y_test, y_pred=ridge_cv.predict(X_test), y_train=y_train)
    
    table.loc[len(table)] = row
    
    del ridge_cv

In [5]:
table

,Year,RMSE,RRMSE (in %),R2_Score,MSE,MAE,RAE,RSE
0,2018.0,2.111388,250.665898,-0.358713,4.457959,1.668478,1.518661,1.791075
1,2019.0,1.744562,409.513067,-0.091900,3.043497,1.266543,1.282759,1.135044
2,2020.0,3.618953,-934.680819,-0.280884,13.096823,2.871365,1.430579,1.358213