In [1]:
from sklearn.linear_model import Ridge, RidgeCV
from TimewiseKfold import splitting_data, split_train_test, FOLD_NUM
from Metrics import metrics_calculation, metrics_table
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import root_mean_squared_error

In [2]:
folds = splitting_data()

In [3]:
table = metrics_table()
table

Empty DataFrame
Columns: [Year, RMSE, RRMSE (in %), R2_Score, MSE, MAE, RAE, RSE]
Index: []

In [4]:
tscv = TimeSeriesSplit(n_splits=2, test_size=7)

for (i, fold) in enumerate(folds):
    X_train, X_test, y_train, y_test = split_train_test(fold=fold)
    
    ridge_cv = RidgeCV(alphas=[0.1, 1, 2, 5, 9, 10, 20, 50, 100], cv=tscv)
    ridge_cv.fit(X_train, y_train)
    
    row = [2020 - FOLD_NUM + 1 + i]
    
    row += metrics_calculation(y_actual=y_test, y_pred=ridge_cv.predict(X_test), y_train=y_train)
    
    table.loc[len(table)] = row
    
    del ridge_cv

In [5]:
table

,Year,RMSE,RRMSE (in %),R2_Score,MSE,MAE,RAE,RSE
0,2018.0,5.126980,25.021772,-60.048781,26.285921,4.797902,9.257791,66.622332
1,2019.0,3.665969,8.414723,-11.592302,13.439328,3.158932,3.603995,12.778398
2,2020.0,2.954939,6.658381,-33.522843,8.731667,2.593537,6.431044,44.828657