In [1]:
import pandas as pd 
import numpy as np
from osgeo import gdal

Define a dataframe with numerous attributes.

In [2]:
months = ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X', 'XI', 'XII']
collumns = ['Năm', 'TT']

for month in months:
    collumns.append('NDVI_' + month)

In [3]:
table = pd.DataFrame()

for i in range(len(collumns)):
    table.insert(i, collumns[i], None)

In [4]:
table

Empty DataFrame
Columns: [Năm, TT, NDVI_I, NDVI_II, NDVI_III, NDVI_IV, NDVI_V, NDVI_VI, NDVI_VII, NDVI_VIII, NDVI_IX, NDVI_X, NDVI_XI, NDVI_XII]
Index: []

Extract NDVI from dataset and write them into constructed dataframe

In [5]:
provinces = ['Hai_Phong', 'Hung_Yen', 'Nam_Dinh', 'Ninh_Binh', 'Quang_Ninh', 'Thai_Binh', 'Vinh_Phuc', 'Bac_Ninh', 'Ha_Nam', 'Ha_Noi', 'Hai_Duong']
folder_in = "Data\\NDVI of Rice Paddies\\"

In [6]:
def extract_NDVI(file_in):
    dataset = gdal.Open(file_in, gdal.GA_ReadOnly)
    NDVI_band = dataset.GetRasterBand(1)
    band_min, band_max, band_mean, band_stddev = NDVI_band.GetStatistics(0, 1)

    return band_mean

In [7]:
for province in provinces:
    for year in range(2000, 2021):

        row = [year, province]

        for month in range(1, 13):

            if (year == 2000 and month == 1):
                row.append(None)
                continue

            str_year = str(year)
            str_month = str(month)

            if (month < 10):
                str_month = '0' + str_month

            file_in = folder_in + "\\" + province + "\\" + str_year + "\\" + str_month + ".tif"

            row.append(extract_NDVI(file_in=file_in))
            
        # print(row)
        table.loc[len(table)] = row

C:\Users\CA_UOP_MUOI\AppData\Local\Temp\ipykernel_3868\2425972487.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  table.loc[len(table)] = row
C:\Users\CA_UOP_MUOI\AppData\Local\Temp\ipykernel_3868\2425972487.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  table.loc[len(table)] = row
C:\Users\CA_UOP_MUOI\AppData\Local\Temp\ipykernel_3868\2425972487.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  table.loc[len(table)] = row
C:\Users\CA_UOP_MUOI\AppData\Local\Temp\ipykernel_3868\2425972487.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  table.loc[len(table)] = row
C:\Users\CA_UOP_MUOI\AppData\Local\Temp\ipykernel_3868\2425972487.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  table.loc[len(table)] = row
C:\Users\CA_UOP_MUOI\AppData\Local\Temp\ipykernel_3868\2425972487.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  table.loc[len(table)] = row
C:\Users\CA_UOP_MUOI\AppData\Local\Temp\ipykernel_3868\2425972487.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  table.loc[len(table)] = row
C:\Users\CA_UOP_MUOI\AppData\Local\Temp\ipykernel_3868\2425972487.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  table.loc[len(table)] = row
C:\Users\CA_UOP_MUOI\AppData\Local\Temp\ipykernel_3868\2425972487.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  table.loc[len(table)] = row
C:\Users\CA_UOP_MUOI\AppData\Local\Temp\ipykernel_3868\2425972487.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  table.loc[len(table)] = row
C:\Users\CA_UOP_MUOI\AppData\Local\Temp\ipykernel_3868\2425972487.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  table.loc[len(table)] = row

In [8]:
table

,Năm,TT,NDVI_I,NDVI_II,NDVI_III,NDVI_IV,NDVI_V,NDVI_VI,NDVI_VII,NDVI_VIII,NDVI_IX,NDVI_X,NDVI_XI,NDVI_XII
0,2000,Hai_Phong,NaN,0.010595,0.269701,0.364676,0.334340,0.327250,0.240991,0.382640,0.581169,0.492197,0.227097,0.217441
1,2001,Hai_Phong,0.085516,0.178801,0.299288,0.518320,0.456681,0.350137,0.248606,0.345611,0.674160,0.489206,0.317175,0.180978
2,2002,Hai_Phong,0.111872,0.132358,0.258022,0.467011,0.409049,0.284333,0.279052,0.561220,0.669761,0.425332,0.186042,0.157400
3,2003,Hai_Phong,0.145382,0.258032,0.274044,0.407009,0.443041,0.304096,0.301889,0.461057,0.493831,0.392966,0.306479,0.209940
4,2004,Hai_Phong,0.096342,0.132505,0.193568,0.312797,0.547622,0.384810,0.168969,0.393405,0.570014,0.522370,0.231857,0.252676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,2016,Hai_Duong,0.200287,0.225410,0.076305,0.345080,0.479101,0.446990,0.435266,0.554065,0.506641,0.447813,0.323544,0.339373
227,2017,Hai_Duong,0.174868,0.224261,0.205392,0.491901,0.467443,0.232286,0.320237,0.556762,0.524585,0.450943,0.238381,0.295039
228,2018,Hai_Duong,0.121027,0.105978,0.397269,0.340111,0.580780,0.387256,0.244553,0.606035,0.541732,0.362436,0.389047,0.385031
229,2019,Hai_Duong,0.144216,0.149970,0.274625,0.444700,0.383023,0.320985,0.338121,0.545748,0.612594,0.430230,0.432346,0.312706
230,2020,Hai_Duong,0.197079,0.165236,0.186204,0.460027,0.528052,0.395202,0.377460,0.511684,0.508965,0.488208,0.347695,0.349062

In [10]:
table.to_csv('NDVI.csv', index=False)