In [33]:
import numpy as np
import pandas as pd

In [34]:
ndvi_df = pd.read_csv(r'Data\NDVI.csv')
ndvi_df.head()

,Năm,TT,NDVI_I,NDVI_II,NDVI_III,NDVI_IV,NDVI_V,NDVI_VI,NDVI_VII,NDVI_VIII,NDVI_IX,NDVI_X,NDVI_XI,NDVI_XII
0,2000,Hai_Phong,NaN,0.010595,0.269701,0.364676,0.334340,0.327250,0.240991,0.382640,0.581169,0.492197,0.227097,0.217441
1,2001,Hai_Phong,0.085516,0.178801,0.299288,0.518320,0.456681,0.350137,0.248606,0.345611,0.674160,0.489206,0.317175,0.180978
2,2002,Hai_Phong,0.111872,0.132358,0.258022,0.467011,0.409049,0.284333,0.279052,0.561220,0.669761,0.425332,0.186042,0.157400
3,2003,Hai_Phong,0.145382,0.258032,0.274044,0.407009,0.443041,0.304096,0.301889,0.461057,0.493831,0.392966,0.306479,0.209940
4,2004,Hai_Phong,0.096342,0.132505,0.193568,0.312797,0.547622,0.384810,0.168969,0.393405,0.570014,0.522370,0.231857,0.252676

In [35]:
ndvi_df.columns

Index(['Năm', 'TT', 'NDVI_I', 'NDVI_II', 'NDVI_III', 'NDVI_IV', 'NDVI_V',
       'NDVI_VI', 'NDVI_VII', 'NDVI_VIII', 'NDVI_IX', 'NDVI_X', 'NDVI_XI',
       'NDVI_XII'],
      dtype='object')

In [36]:
provinces = ['Ha_Noi', 'Hai_Duong', 'Hung_Yen', 'Nam_Dinh', 'Ninh_Binh', 'Thai_Binh', 'Ha_Nam']

In [37]:
ndvi_df = ndvi_df.loc[ndvi_df['TT'].isin(provinces)]
ndvi_df

,Năm,TT,NDVI_I,NDVI_II,NDVI_III,NDVI_IV,NDVI_V,NDVI_VI,NDVI_VII,NDVI_VIII,NDVI_IX,NDVI_X,NDVI_XI,NDVI_XII
21,2000,Hung_Yen,NaN,0.005538,0.250628,0.458871,0.399927,0.355720,0.332183,0.524818,0.607930,0.381142,0.241107,0.272087
22,2001,Hung_Yen,0.115612,0.114860,0.201695,0.545921,0.544058,0.415541,0.348338,0.505220,0.662792,0.364280,0.350694,0.232595
23,2002,Hung_Yen,0.160436,0.081452,0.213502,0.506779,0.524983,0.267386,0.422257,0.644032,0.590979,0.329410,0.172100,0.271920
24,2003,Hung_Yen,0.201749,0.216628,0.268477,0.426477,0.580919,0.295992,0.467667,0.528788,0.531072,0.333712,0.343658,0.191410
25,2004,Hung_Yen,0.164401,0.105521,0.167163,0.408509,0.567516,0.398025,0.264875,0.550075,0.606810,0.442274,0.304085,0.273252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,2016,Hai_Duong,0.200287,0.225410,0.076305,0.345080,0.479101,0.446990,0.435266,0.554065,0.506641,0.447813,0.323544,0.339373
227,2017,Hai_Duong,0.174868,0.224261,0.205392,0.491901,0.467443,0.232286,0.320237,0.556762,0.524585,0.450943,0.238381,0.295039
228,2018,Hai_Duong,0.121027,0.105978,0.397269,0.340111,0.580780,0.387256,0.244553,0.606035,0.541732,0.362436,0.389047,0.385031
229,2019,Hai_Duong,0.144216,0.149970,0.274625,0.444700,0.383023,0.320985,0.338121,0.545748,0.612594,0.430230,0.432346,0.312706
230,2020,Hai_Duong,0.197079,0.165236,0.186204,0.460027,0.528052,0.395202,0.377460,0.511684,0.508965,0.488208,0.347695,0.349062

In [38]:
previous_fields = ['NDVI_X', 'NDVI_XI', 'NDVI_XII']
current_fields = ['NDVI_I', 'NDVI_II', 'NDVI_III', 'NDVI_IV', 'NDVI_V']

In [39]:
columns = ['Năm', 'TT']

for field in previous_fields:
    columns.append(field)

for field in current_fields:
    columns.append(field)

In [40]:
table = pd.DataFrame()

for i in range(len(columns)):
    table.insert(i, columns[i], None)

In [41]:
table

Empty DataFrame
Columns: [Năm, TT, NDVI_X, NDVI_XI, NDVI_XII, NDVI_I, NDVI_II, NDVI_III, NDVI_IV, NDVI_V]
Index: []

In [45]:
for province in provinces:
    for year in range(2001, 2021):
        row = [year, province]

        for field in previous_fields:
            tmp = ndvi_df.loc[(ndvi_df['TT'] == province) & (ndvi_df['Năm'] == (year - 1))]
            row.append(list(tmp[field])[0])
        
        for field in current_fields:
            tmp = ndvi_df.loc[(ndvi_df['TT'] == province) & (ndvi_df['Năm'] == (year))]
            row.append(list(tmp[field])[0])
        
        table.loc[len(table)] = row

In [46]:
table.to_csv('NDVI.csv', index=False)