In [1]:
from sklearn.linear_model import LinearRegression
from SplittingData import splitting_data
from Metrics import metrics_calculation, metrics_table

In [2]:
X_train, y_train, test_set = splitting_data()

In [3]:
linear_model = LinearRegression(n_jobs=-1).fit(X_train, y_train)

In [7]:
table = metrics_table()

table

     Year       RMSE      RRMSE  ...        MAE       RAE        RSE
0  2017.0  15.099457  39.587753  ...  14.399584  8.922222  74.356417
1  2018.0   9.161027  11.650790  ...   8.016830  6.367906  29.882170
2  2019.0   7.116778  10.351627  ...   6.089650  8.950268  71.785594
3  2020.0   9.980082  15.963661  ...   7.875162  4.530501  26.636495

[4 rows x 8 columns]